.container {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden; /* Initially hidden until user scrolls to bottom */
  height: calc(100vh - 160px);
}

.container.allowScroll {
  overflow-y: auto;
}

.filters {
  position: sticky;
  left: 0;
  display: none;
  gap: 8px;
  margin-bottom: 16px;
}

.filterItem {
  width: calc(50vw - 16px);
  max-width: 160px;
}

@media screen and (max-width: 565px) {
  .filters {
    display: flex;
  }
}

.table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

.tr {
  width: 100%;
}

tr:not(:first-child):hover th,
tr:not(:first-child):hover td {
  color: white;
  background-color: var(--color-red);
}

.th {
  width: 160px;
  max-width: 160px;
  text-align: left;
  vertical-align: top;
  padding: 0 8px;
  overflow: hidden;
  font-weight: inherit;
}

.th:first-child {
  padding-left: 0;
}

.td {
  width: 160px;
  text-align: left;
  padding: 0 8px;
}

.borderRight {
  border-right: 1px solid #000;
}

.columnSecond {
  border-right: 1px solid #000;
}

/* Sticky header row */
.stickyHeader {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;
}

.stickyBorder {
  position: sticky;
  top: 244px;
  left: 0;
  z-index: 10;
  background-color: white;
}

.rowOneCellOne {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 4;
}

.rowOneCellTwo {
  position: sticky;
  top: 0;
  left: 168px;
  background-color: white;
  z-index: 4;
}

.rowTwoCellOne {
  position: sticky;
  left: 0;
  background-color: white;
  z-index: 2;
}

.rowTwoCellTwo {
  position: sticky;
  left: 168px; /* 160px width + 8px padding */
  background-color: white;
  z-index: 2;
  padding: 0 8px;
}

@media screen and (max-width: 565px) {
  .rowOneCellOne {
    display: none;
  }
  .rowOneCellTwo {
    left: 0;
    width: calc(50vw - 40px);
    max-width: calc(160px - 17px);
  }
  .rowTwoCellOne {
    display: none;
  }
  .rowTwoCellTwo {
    left: 0;
    width: calc(50vw - 40px);
    max-width: calc(160px - 17px);
  }
}
