.stickyContainer {
  position: relative;
}

.container {
  position: sticky;
  top: 80px;
  overflow: auto;
}

.table {
  border-collapse: collapse;
  /* table-layout: fixed; */
  overflow-x: auto;
}

.tr {
  width: 100%;
}

.th {
  width: 160px;
  text-align: left;
  vertical-align: top;
}

.td {
  width: 160px;
  text-align: left;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 3;
  background: white;
}

.stickyColumn {
  position: sticky;
  left: 0;
  z-index: 2;
  background: white;
}

.stickyColumn2 {
  position: sticky;
  left: 160px;
  z-index: 2;
  background: white;
}

.stickyHeader .stickyColumn,
.stickyHeader .stickyColumn2 {
  z-index: 4;
}
