.container {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden; /* Initially hidden until user scrolls to bottom */
  height: calc(100vh - 160px);
  transition: overflow-y 0.3s ease;
}

.container.allowScroll {
  overflow-y: auto;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.tr {
  width: 100%;
}

tr:not(:first-child):hover th,
tr:not(:first-child):hover td {
  color: white;
  background-color: var(--color-red);
}

.th {
  width: 160px;
  max-width: 160px;
  text-align: left;
  vertical-align: top;
  padding: 0 8px;
  overflow: hidden;
  font-weight: inherit;
}

.th:first-child {
  padding-left: 0;
}

.td {
  width: 160px;
  text-align: left;
  padding: 0 8px;
}

.borderRight {
  border-right: 1px solid #000;
}

.columnSecond {
  border-right: 1px solid #000;
}
