/* Vulf Sans Regular */
@font-face {
  font-family: "Vulf Sans";
  src: url("/fonts/Vulf_Sans-Regular.woff2"),
    url("/fonts/Vulf_Sans-Regular.woff"), url("/fonts/Vulf_Sans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Vulf Sans Italic */
@font-face {
  font-family: "Vulf Sans";
  src: url("/fonts/Vulf_Sans-Italic.woff2"), url("/fonts/Vulf_Sans-Italic.woff"),
    url("/fonts/Vulf_Sans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Vulf Sans Bold */
@font-face {
  font-family: "Vulf Sans";
  src: url("/fonts/Vulf_Sans-Bold.woff2"), url("/fonts/Vulf_Sans-Bold.woff"),
    url("/fonts/Vulf_Sans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Vulf Sans Bold Italic */
@font-face {
  font-family: "Vulf Sans";
  src: url("/fonts/Vulf_Sans-Bold_Italic.woff2"),
    url("/fonts/Vulf_Sans-Bold_Italic.woff"),
    url("/fonts/Vulf_Sans-Bold_Italic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Vulf Mono Light */
@font-face {
  font-family: "Vulf Mono";
  src: url("/fonts/VulfMono-Light.woff2"), url("/fonts/VulfMono-Light.woff"),
    url("/fonts/VulfMono-Light.ttf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Vulf Mono Regular */
@font-face {
  font-family: "Vulf Mono";
  src: url("/fonts/VulfMono-Regular.woff2"), url("/fonts/VulfMono-Regular.woff"),
    url("/fonts/VulfMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Vulf Mono Italic */
@font-face {
  font-family: "Vulf Mono";
  src: url("/fonts/VulfMono-Italic.woff2"), url("/fonts/VulfMono-Italic.woff"),
    url("/fonts/VulfMono-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Vulf Mono Black */
@font-face {
  font-family: "Vulf Mono";
  src: url("/fonts/VulfMono-Black.woff2"), url("/fonts/VulfMono-Black.woff"),
    url("/fonts/VulfMono-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Vulf Mono Black Italic */
@font-face {
  font-family: "Vulf Mono";
  src: url("/fonts/VulfMono-BlackItalic.woff2"),
    url("/fonts/VulfMono-BlackItalic.woff"),
    url("/fonts/VulfMono-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
