.h1 {
  font-family: "Vulf Mono", monospace;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
}
.h2 {
  font-family: "Vulf Mono", monospace;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
}
.h3 {
  font-family: "Vulf Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.body {
  font-family: "Vulf Mono", monospace;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}
