.h1 {
  font-family: "Vulf Mono", monospace;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
}
.h2 {
  font-family: "Vulf Mono", monospace;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  margin: 16px 0;
}
.h3 {
  font-family: "Vulf Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 0 0 16px 0;
}
.body {
  font-family: "Vulf Mono", monospace;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  text-align: left;
}
.bodyLarge {
  font-family: "Vulf Mono", monospace;
  font-size: 24px;
  line-height: 1.4;
  margin: 0;
  text-align: left;
}
.red {
  color: var(--color-red);
}
.italic {
  font-style: italic;
}
.light {
  font-weight: 200;
}
.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
